@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Barlow:wght@300;400;500&family=Fira+Sans+Extra+Condensed:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

footer {
    background-color: #f5deb3;
    color: #3B5822;
}

body {
    min-height: 100vh;
    height: fit-content;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: normal;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #3B5822;
    color: #f5deb3;
    margin: 1px 6px 1px 3px;
}

main {
    flex-grow: 1;
}

a {
    color: #f5deb3;
}

/* headings and logo */

img {
    height: 100%;
    width: auto;
    object-fit: contain;
    padding-right: 8px;
    padding-left: 8px;
    max-inline-size: 100%;
    max-width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*.container > img {
    height: 100%;
    width: 0;
    padding-left: 8px;
}
*/

h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    color: #f5deb3;
    text-align: left;
    font-size: 1.5rem;
    text-shadow: 1px 1px black;
}

.container>h1 {
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 4px;
}

/* 
.logo>img {
    height: 0.9em;
}  */

ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* navigation links */
/* 
#menu {
    font-size: .7em;
} */

#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 1.55;
    text-shadow: 1px 1px black;
}

#menu li {
    margin-right: 4px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #503A26;
}

.active {
    border-bottom: 1px solid #f5deb3;
}

/* hero image */

#cover-text #cover-text h3 {
    font-size: 2em;
}

#hero-outer {
    /* height: 600px; */
    width: 100%;
    border: 1px solid #f5deb3;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 48vh;
    width: 100%;
    background-image: url(../images/hero-image-mushroom-village.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image*/

@keyframes hero-zoom {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1.1);
    }
}

#hero-text {
    text-align: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100%;
    font-family: 'Archivo Narrow', sans-serif;
    color: #503A26;
    text-shadow: 2px 2px #f5deb3;
    width: 18rem;
    background-color: rgba(253, 223, 101, .7);
}

/* 
#hero-text>h2,
h3 {
    width: 18rem;
} */

/* about the club section */

#club-ethos {
    /* text-align: justify; */
    justify-content: center;
    line-height: 24px;
    font-weight: 400;
    padding: 12px;
    outline-style: ridge;
    outline-color: #6b3c1d;
    outline-width: 4px;
    margin: 6px 1px 6px 2px;
}

#our-club-title {
    font-size: 125%;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #f5deb3;
    text-shadow: 1px 1px black;
    padding: 8px;
    text-align: center;
}

/* .parent-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
} */

.parent-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.div-1-left {
    grid-area: 1 / 1 / 2 / 3;
    background-color: royalblue;
}

#div-1-left-image {
    height: 250px;
    width: 100%;
    background-image: url(../images/sky-village.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #f5deb3;
    color: #3B5822;
    font-weight: bold;
    font-size: 1.4em;
    font-family: 'Archivo Narrow', sans-serif;
    color: #503A26;
    text-shadow: 1px 1px #f5deb3;
    text-align: center;
}

.bubble-quote-one {
    position: relative;
    /* grid-area: 1 / 3 / 2 / 4; */
    background: #f5deb3;
    color: #6b3c1d;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 30px; */
    text-align: center;
    width: 200px;
    height: auto;
    border-radius: 33px;
    padding: 17px;
    margin: 18px 18px 18px 18px;
    border: #854d27 solid 2px;
    margin-inline: auto;
}

.bubble-quote-one:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 30px 36px;
    border-color: transparent transparent #f5deb3 transparent;
    top: 50%;
    left: -35px;
    margin-top: -15px;
}

.bubble-quote-one:before {
    content: '';
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-width: 0 0 32px 38px;
    border-color: transparent transparent #854d27 transparent;
    top: 50%;
    left: -40px;
    margin-top: -15px;
    display: block;
}

.div-1-center {
    /* grid-area: 2 / 1 / 3 / 3; */
    background-color: aqua;
}

#div-1-center-image {
    height: 250px;
    width: 100%;
    background-image: url(../images/parkour.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #f5deb3;
    font-weight: bold;
    font-size: 1.4em;
    font-family: 'Archivo Narrow', sans-serif;
    color: #503A26;
    text-shadow: 1px 1px #f5deb3;
    text-align: center;
}

/* speech bubble two */

.bubble-quote-two {
    position: relative;
    /* grid-area: 2 / 3 / 3 / 4; */
    background: #f5deb3;
    color: #6b3c1d;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    width: 200px;
    height: auto;
    border-radius: 33px;
    padding: 17px;
    margin: 18px 18px 18px 18px;
    border: #854d27 solid 2px;
    margin-inline: auto;
}

.bubble-quote-two:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 30px 36px;
    border-color: transparent transparent #f5deb3 transparent;
    top: 50%;
    left: -35px;
    margin-top: -15px;
}
/* 
.bubble-quote-two:before {
    content: '';
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-width: 0 0 32px 38px;
    border-color: transparent transparent #854d27 transparent;
    top: 50%;
    left: -40px;
    margin-top: -15px;
    display: block;
} */

.div-1-right {
    /* grid-area: 3 / 1 / 4 / 3; */
    background-color: powderblue;
    object-fit: scale-down;
}

#div-1-right-image {
    height: 250px;
    width: 100%;
    background-image: url(../images/panda.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #f5deb3;
    font-weight: bold;
    font-size: 1.4em;
    font-family: 'Archivo Narrow', sans-serif;
    color: #503A26;
    text-shadow: 1px 1px #f5deb3;
    text-align: center;
}

/* speech bubble three */

.bubble-quote-three {
    position: relative;
    /* grid-area: 3 / 3 / 4 / 4; */
    background: #f5deb3;
    color: #6b3c1d;
    font-family: 'fira sans extra condensed';
    font-weight: 400;
    font-size: 14px;
    /* line-height: 30px; */
    text-align: center;
    width: 200px;
    height: auto;
    border-radius: 33px;
    padding: 17px;
    margin: 18px 18px 18px 18px;
    border: #854d27 solid 2px;
    margin-inline: auto;
}

.bubble-quote-three:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 30px 36px;
    border-color: transparent transparent #f5deb3 transparent;
    top: 50%;
    left: -35px;
    margin-top: -15px;
}

.bubble-quote-three:before {
    content: '';
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-width: 0 0 32px 38px;
    border-color: transparent transparent #854d27 transparent;
    top: 50%;
    left: -40px;
    margin-top: -15px;
    display: block;
}

#tour {
    text-align: center;
    justify-content: center;
    border-top: 4px solid #503A26;
    border-bottom: 4px solid #503A26;
}

#video-tour {
    height: auto;
    margin: auto;
    text-align: center;
    padding-bottom: 8px;
}

.club-times {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    text-shadow: 2px 2px black;
    justify-content: space-around;
    background-color: #503A26;
    border: 1px solid #f5deb3;
    padding: 8px 0 18px 0px;
    text-align: center;
    align-content: space-around;
}

#club-times-title {
    font-weight: bolder;
    font-size: 2.2em;
    letter-spacing: 1px;
    font-family: 'Archivo Narrow', sans-serif;
    color: #f5deb3;
    text-shadow: 2px 2px black;
    text-align: center;
    align-content: center;
    padding-bottom: 4px;
    text-decoration-line: underline;
    text-decoration-color: #3B5822;
    text-decoration-thickness: 4px;
}

.club-times h4 {
    color: white;
    border-bottom: 4px dotted #f5deb3;
    text-shadow: 1px 1px black;
    padding-bottom: 8px;
    padding-top: 8px;
}

footer {
    width: 100%;
    background-color: #f5deb3;
    text-align: center;
    padding-bottom: 5px;
}

.contact {
    padding: 0.6rem 0 0.6rem 0;
    /* display: flex;
    flex-direction: column; */
    font-weight: bold;
    text-align: center;
    list-style: none;
    display: block;
    line-height: 1.6rem;
}

.social-media {
    padding: 0rem 2rem 0px 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1.5rem;
}

/* 
.social-media > li {
    display: inline;
} */

.social-media i {
    font-size: 1.5em%;
    margin: 10%;
    padding: 5%;
    color: #503A26;
}

.top {
    color: #3B5822;
    font-size: 0.8rem;
    border: 1px solid #3B5822;
}

body>div {
    margin-inline: max(3px, 50% - 800px/2);
}

@media screen and (min-width: 768px) {

    main {
        flex-grow: 1.5;
    }

    .container {
        font-size: 150%;
        padding: 8px;
    }

    #menu {
        font-size: 1.2rem;
    }

    #menu li {
        padding: 4px;
    }

    ul {
        display: flex;
        flex-direction: row;
    }

    #hero-text {
        top: 85%;
        width: 40rem;
    }

    #hero-text h2 {
        font-size: 200%;
    }

    #our-club-title {
        font-size: 200%;
        text-shadow: 3px 3px #503A26;
    }

    #div-1-left-image,
    #div-1-center-image,
    #div-1-right-image {
        height: 325px;
        font-size: 2em;
    }

    .bubble-quote-one,
    .bubble-quote-two,
    .bubble-quote-three {
        font-size: 18px;
        width: 300px;
    }

    #club-times-title {
        font-size: 3em;
    }

    h3 {
        font-size: 170%;
    }

    h4 {
        font-size: 170%;
    }

    .contact-footer {
        font-size: 150%;
    }

    .social-media {
        font-size: 180%;
        line-height: 170%;
        justify-content: space-evenly;
    }

    .top {
        font-size: 110%;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 150%;
    }

    img  {
        width: 1em;
    }

    #menu {
        font-size: 110%
    }

    #hero-text {
        width: 57rem;
        height: 5em;
    }

    #club-ethos {
        font-size: 130%;
        text-shadow: 1px 1px black;
        padding: 14px 40px 14px 40px;
        line-height: 34px;
    }

    #our-club-title {
        font-size: 260%;
    }

    .parent-1 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 4px 2px 4px 4px;
    }
    
    #one {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-bottom: 10px;
        /* width: 1400px; */
    }

    #two {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        padding-bottom: 10px;
        /* width: 1400px; */
    }

    #three {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-bottom: 10px;
        /* width: 1400px; */
    }

    #div-1-left-image,
    #div-1-center-image,
    #div-1-right-image {
        height: 400px;
        font-size: 2.2em;
        width: 75%;
    }

    .bubble-quote-one,
    .bubble-quote-two,
    .bubble-quote-three {
        font-size: 20px;
        width: 20%px;
        padding: 16px 12px 16px 12px;
        line-height: 25px;
        height: fit-content;
        margin-top: 84px;
    }

    .bubble-quote-two:after {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        z-index: 1;
        border-style: solid;
        border-width: 27px 0 0 27px;
        border-color: transparent transparent transparent #f5deb3;
        top: 50%;
        left: 323px;
        margin-top: -13px;
    }
/*     
    .bubble-quote-two:before { */
        /* content: '';
        position: absolute;
        width: 0;
        z-index: 0;
        border-style: solid;
        border-width: 0 0 32px 38px;
        border-color: transparent transparent #854d27 transparent;
        top: 50%;
        right: -40px;
        margin-top: -15px; */
        /* display: none; */
    }
    
    video {
        width: 670px;
        height: 480px;
        padding-bottom: 34px;
    }

    .contact {
        line-height: 2.2rem;
    }

    .top {
        font-size: 130%;
    }
}
