@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Barlow:wght@300;400;500&family=Fira+Sans+Extra+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    background-color: #3B5822;
    color: #f5deb3;
}

a {
    color: #f5deb3;
}

img {
    height: 100%;
    width:100%;
    object-fit: contain;
}
/* headings and logo */

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    color: #f5deb3;
}

#logo {
    font-size: 220%;
    margin-left: 20px;
}

ul {
    display: flex;
    flex-direction: row;
}

/* navigation links */

#menu {
    font-size: 110%;
}

#menu,
#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 75px;
}

#menu li {
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #f5deb3;
}

.active {
    border-bottom: 1px solid #f5deb3;
}

/* hero image */

#cover-text #cover-text h3 {
    font-size: 250%;
}

#hero-outer {
    height: 600px;
    width: 100%;
    border: 1px solid #f5deb3;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image-mushroom-village.PNG) no-repeat center center;
    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image*/

@keyframes hero-zoom {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 160%;
    font-family: 'Archivo Narrow', sans-serif;
    color: #503A26;
    text-align: center;
    text-shadow: 2px 2px #f5deb3;

    width: 500px;
    height: 150px;

    padding-top: 25px;
    background-color: rgba(253, 223, 101, .7);
    bottom: 25px;
    right: 330px;

    position: absolute;
}

.parent-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.div-1-left {
    grid-area: 1 / 1 / 2 / 2;
    background-color: royalblue;
}

#div-1-left-image {
    height: 400px;
    width: 100%;
    background-image: url(../images/sky-village.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.div-1-center {
    grid-area: 1 / 2 / 2 / 3;
    background-color: aqua;
}

#div-1-center-image {
    height: 400px;
    width: 100%;
    background-image: url(../images/parkour.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.div-1-right {
    grid-area: 1 / 3 / 2 / 4;
    background-color: powderblue;
    object-fit: scale-down;
}

#div-1-right-image {
    height: 400px;
    width: 100%;
    background-image: url(../images/panda.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
