@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Barlow:wght@300;400;500&family=Fira+Sans+Extra+Condensed:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

footer {
    background-color: #f5deb3;
    color: #3B5822;
}

body {
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin: 4px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #3B5822;
    color: #f5deb3;
    margin: 1px 6px 1px 3px;
}

main {
    flex-grow: 1;
}

a {
    color: #f5deb3;
}

/* headings and logo */

img {
    height: 100%;
    width: auto;
    object-fit: contain;
    padding-right: 8px;
    padding-left: 8px;
    max-inline-size: 100%;
    max-width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 1px 4px 1px;
}

/*.container > img {
    height: 100%;
    width: 0;
    padding-left: 8px;
}
*/

h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    color: #f5deb3;
    text-align: left;
    font-size: 1rem;
}

.container>h1 {
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 4px;
}

/*
.logo-title{
    display: flex;
    flex-wrap: nowrap;
}
*/

#logo {
    height: 25%;
    margin-left: 1rem;
}

#logo>img {
    height: 1rem;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* navigation links */

#menu {
    font-size: .7em;
}

#menu,
#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.25;
}

#menu li {
    margin-right: 4px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #f5deb3;
}

.active {
    border-bottom: 1px solid #f5deb3;
}

/* hero image */

#cover-text #cover-text h3 {
    font-size: 250%;
}

#hero-outer {
    /* height: 600px; */
    width: 100%;
    border: 1px solid #f5deb3;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 48vh;
    width: 100%;
    background-image: url(../images/hero-image-mushroom-village.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image*/

@keyframes hero-zoom {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1.1);
    }
}

#hero-text {
    text-align: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100%;
    font-family: 'Archivo Narrow', sans-serif;
    color: #503A26;
    text-shadow: 2px 2px #f5deb3;

    background-color: rgba(253, 223, 101, .7);
}

#hero-text>h2,
h3 {
    width: 16rem;
}

/* about the club section */

#club-ethos {
    /* text-align: justify; */
    justify-content: center;
    line-height: 26px;
    font-weight: 400;
    padding: 12px;
    outline-style: ridge;
    outline-color: #6b3c1d;
    outline-width: 4px;
    margin: 6px 1px 6px 2px;
}

#our-club-title {
    font-size: 125%;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #f5deb3;
    text-shadow: 1px 1px black;
    padding: 8px;
    text-align: center;
}

/* .parent-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
} */

.parent-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.div-1-left {
    grid-area: 1 / 1 / 2 / 3;
    background-color: royalblue;
}

#div-1-left-image {
    height: 250px;
    width: 100%;
    background-image: url(../images/sky-village.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #f5deb3;
    color: #3B5822;
    font-weight: bold;
    font-size: 1.4em;
    font-family: 'Archivo Narrow', sans-serif;
    color: #503A26;
    text-shadow: 1px 1px #f5deb3;
    text-align: center;
}

.bubble-quote-one {
    position: relative;
    /* grid-area: 1 / 3 / 2 / 4; */
    background: #f5deb3;
    color: #6b3c1d;
    font-family: 'fira sans extra condensed';
    font-weight: 400;
    font-size: 14px;
    /* line-height: 30px; */
    text-align: center;
    width: 200px;
    height: auto;
    border-radius: 33px;
    padding: 17px;
    margin: 18px 18px 18px 18px;
    border: #854d27 solid 2px;
    margin-inline: auto;
}

.bubble-quote-one:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 30px 36px;
    border-color: transparent transparent #f5deb3 transparent;
    top: 50%;
    left: -36px;
    margin-top: -15px;
}

.bubble-quote-one:before {
    content: '';
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-width: 0 0 32px 38px;
    border-color: transparent transparent #854d27 transparent;
    top: 50%;
    left: -40px;
    margin-top: -15px;
    display: block;
}

.div-1-center {
    /* grid-area: 2 / 1 / 3 / 3; */
    background-color: aqua;
}

#div-1-center-image {
    height: 250px;
    width: 100%;
    background-image: url(../images/parkour.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #f5deb3;
    font-weight: bold;
    font-size: 1.4em;
    font-family: 'Archivo Narrow', sans-serif;
    color: #503A26;
    text-shadow: 1px 1px #f5deb3;
    text-align: center;
}

/* speech bubble two */

.bubble-quote-two {
    position: relative;
    /* grid-area: 2 / 3 / 3 / 4; */
    background: #f5deb3;
    color: #6b3c1d;
    font-family: 'fira sans extra condensed';
    font-weight: 400;
    font-size: 14px;
    /* line-height: 30px; */
    text-align: center;
    width: 200px;
    height: auto;
    border-radius: 33px;
    padding: 17px;
    margin: 18px 18px 18px 18px;
    border: #854d27 solid 2px;
    margin-inline: auto;
}

.bubble-quote-two:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 30px 36px;
    border-color: transparent transparent #f5deb3 transparent;
    top: 50%;
    left: -36px;
    margin-top: -15px;
}

.bubble-quote-two:before {
    content: '';
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-width: 0 0 32px 38px;
    border-color: transparent transparent #854d27 transparent;
    top: 50%;
    left: -40px;
    margin-top: -15px;
    display: block;
}

.div-1-right {
    /* grid-area: 3 / 1 / 4 / 3; */
    background-color: powderblue;
    object-fit: scale-down;
}

#div-1-right-image {
    height: 250px;
    width: 100%;
    background-image: url(../images/panda.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #f5deb3;
    font-weight: bold;
    font-size: 1.4em;
    font-family: 'Archivo Narrow', sans-serif;
    color: #503A26;
    text-shadow: 1px 1px #f5deb3;
    text-align: center;
}

/* speech bubble three */

.bubble-quote-three {
    position: relative;
    /* grid-area: 3 / 3 / 4 / 4; */
    background: #f5deb3;
    color: #6b3c1d;
    font-family: 'fira sans extra condensed';
    font-weight: bold;
    font-size: 14px;
    /* line-height: 30px; */
    text-align: center;
    width: 200px;
    height: auto;
    border-radius: 33px;
    padding: 17px;
    margin: 18px 18px 18px 18px;
    border: #854d27 solid 2px;
    margin-inline: auto;
}

.bubble-quote-three:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 30px 36px;
    border-color: transparent transparent #f5deb3 transparent;
    top: 50%;
    left: -36px;
    margin-top: -15px;
}

.bubble-quote-three:before {
    content: '';
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-width: 0 0 32px 38px;
    border-color: transparent transparent #854d27 transparent;
    top: 50%;
    left: -40px;
    margin-top: -15px;
    display: block;
}

#tour {
    text-align: center;
    justify-content: center;
    border-top: 4px solid #503A26;
    border-bottom: 4px solid #503A26;
}

#video-tour {
    height: auto;
    margin: auto;
    text-align: center;
    padding-bottom: 8px;
}

.club-times {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    text-shadow: 2px 2px black;
    justify-content: space-around;
    background-color: #503A26;
    border: 1px solid #f5deb3;
    padding: 15px 0 15px 0px;
    text-align: center;
    align-content: space-around;
}

#club-times-title {
    font-weight: bolder;
    font-size: 1.9em;
    letter-spacing: 2px;
    font-family: 'Archivo Narrow', sans-serif;
    color: #f5deb3;
    text-shadow: 2px 2px black;
    text-align: center;
    align-content: center;
}

.club-times h4 {
    color: white;
    border-bottom: 2px dotted #f5deb3;
    text-shadow: 1px 1px black;
}

footer {
    width: 100%;
    background-color: #f5deb3;
    text-align: center;
}

.contact {
    padding: 0.6rem 0 0.6rem 0;
    /* display: flex;
    flex-direction: column; */
    font-weight: 400;
    text-align: center;
    list-style: none;
    display: block;
    line-height: 1.6rem;
}

.social-media {
    padding: 0rem 2rem 0px 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* 
.social-media > li {
    display: inline;
} */

.social-media i {
    font-size: 160%;
    margin: 10%;
    padding: 5%;
    color: #503A26;
}

.top {
    --offset: 100px;
    /* control when the button appear */
    position: ;
    bottom: 20px;
    margin-right: 10px;
    /* place-self: end; */
    margin-top: calc(100vh + var(--offset));
    width: 20px;
    aspect-ratio: 1;
    background: #3B5822;
    border-radius: 6px;
    font-size: 0;
}

.top:before {
    content: "";
    position: absolute;
    inset: 30%;
    transform: translateY(20%) rotate(-45deg);
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
}

/* body > div {
    margin-inline: max(3px,50% - 800px/2);
  }

