@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Barlow:wght@300;400;500&family=Fira+Sans+Extra+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    color: #3F2D1C;
}

/* headings and logo */

h1, h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    color: #3B5822;
}

#logo {
    float: left;
    font-size: 250%;
}

/* navigation links */

#menu {
    font-size: 110%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    direction: rtl;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3B5822;
}

.active {
    border-bottom: 1px solid #3B5822;
}