@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Barlow:wght@300;400;500&family=Fira+Sans+Extra+Condensed:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

footer {
    background-color: #f5deb3;
    color: #3B5822;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    background-color: #3B5822;
    color: #f5deb3;
}

main {
    flex-grow: 1;
}

a {
    color: #f5deb3;
}

/* headings and logo */

img {
    height: 100%;
    width: auto;
    object-fit: contain;
    padding-right: 8px;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0 8px 0;
}

.container > img{
    height: 100%;
    width: 0;
}

h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    color: #f5deb3;
    text-align: center;
}

.logo-title{
    display: flex;
    flex-wrap: nowrap;
}

#logo {
    height: 25%;
    margin-left: 1rem;
}

#logo > img {
    height: 1rem;
    }

ul {
    display: flex;
    flex-direction: row;
}

/* navigation links */

#menu {
    font-size: 110%;
}

#menu,
#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.25;
}

#menu li {
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #f5deb3;
}

.active {
    border-bottom: 1px solid #f5deb3;
}

/* hero image */

#cover-text #cover-text h3 {
    font-size: 250%;
}

#hero-outer {
    height: 600px;
    width: 100%;
    border: 1px solid #f5deb3;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 100%;
    width: 100%;
    background-image: url(../images/hero-image-mushroom-village.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image*/

@keyframes hero-zoom {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1.1);
    }
}

#hero-text {
    text-align: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 140%;
    font-family: 'Archivo Narrow', sans-serif;
    color: #503A26;
    text-shadow: 2px 2px #f5deb3;
    
    background-color: rgba(253, 223, 101, .7);
    }

#hero-text > h2, h3 {
    width: 19rem;
}
    /* about the club section */

#our-club-title {
    font-size: 190%;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 400;
    color: #f5deb3;
    padding: 8px;
    text-align: center;
    }

.parent-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.div-1-left {
    grid-area: auto;
    background-color: royalblue;
}

#div-1-left-image {
    height: 400px;
    width: 100%;
    background-image: url(../images/sky-village.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bubble-quote-one {
    position: relative;
    background: #f5deb3;
    color: #6b3c1d;
    font-family: 'fira sans extra condensed';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    width: 335px;
    height: 125px;
    border-radius: 33px;
    padding: 17px;
    border: #854d27 solid 2px;
    margin-inline: auto;
}

.bubble-quote-one:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 30px 36px;
    border-color: transparent transparent #f5deb3 transparent;
    top: 50%;
    left: -36px;
    margin-top: -15px;
}
.bubble-quote-one:before {
    content: '';
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-width: 0 0 32px 38px;
    border-color: transparent transparent #854d27 transparent;
    top: 50%;
    left: -40px;
    margin-top: -15px;
    display: block;
}

.div-1-center {
    grid-area: auto;
    background-color: aqua;
}

#div-1-center-image {
    height: 400px;
    width: 100%;
    background-image: url(../images/parkour.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.div-1-right {
    grid-area: auto;
    background-color: powderblue;
    object-fit: scale-down;
}

#div-1-right-image {
    height: 400px;
    width: 100%;
    background-image: url(../images/panda.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
